<div class="fb-auth registering-email-taken" id="auth-registering-email-taken">
  <h2>Unable to register using Facebook!</h2>
  <p>
    An account in CivicCommons was already created with the email <%= flash[:email] %>
  </p>
  <p>
    <strong>Please login to that CivicCommons account, and link it to Facebook.</strong>
  </p>
</div>