<div class="fb-auth conflicting-email" id="auth-facebook-conflicting-email">
  <h2>Unable to register using Facebook!</h2>
  <p>
    An account in CivicCommons was already created with the email <%= flash[:email] %>
  </p>
  <h3>
    Please login to that CivicCommons account, and link it to Facebook.
  </h3>
</div>