<div class="fb-auth successful-registration" id="auth-successful-registration">
  <h2>Thanks for registering to CivicCommons!</h2>
  <p>
    Please feel free to participate in the conversations.
  </p>
  <p>
    Don't forget to enter your <%= link_to 'zipcode', edit_user_path(current_person, :anchor => 'person_zip_code') %>, so that you can find relevant discussions.
  </p>
</div>